:root{
    --primary: #D55EFF;
    --secondary:#F8F8F8;
    --background-color : #181818;
}

body{
    background-color: #181818;
    color: #FFFFFF;    
}
.navBarSection{
    background-color: #181818;
    color: #FFFFFF !important;
}
.navbar-toggler-icon{
    color: #F8F8F8 !important;
}

.navbar-brand img{
    margin-right: 50px !important;
}


.heroBody{
    padding: 25px;
}
.heroText{
    padding-top: 120px;
}
.hero-image{
    padding: 10px;
}
.hero-image img{
    /* width: 50%; */
}

.heroText h4{
    font-size: .75rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #f2ceff;
}
.heroText h1{
    font-size: 3rem;
    font-weight: 800;
}
.heroText .Practice{
    color: var(--primary);
    margin: 10px 0 !important;
}


footer{
    background-color: #181818;
    color: var(--primary);
    padding: 30px 0px;
    margin-top: 100px;
}
footer img{
    width: 25%;
    margin-top: 0px;
}



/* Sub Pages Styles */
.ListHeader{
    margin-top: 20px;
}
.ListHeader h2{
    font-size: 1.5rem;
    color: #D55EFF;
}

.listBody ol li{
    color: #c6c6c6;
    line-height: 2rem;
}
.listBody a{
    text-decoration: none;
}

.accordion-button{
    background-color: var(--background-color) !important;
    color: var(--secondary);

}
.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
}

.accordion, .accordion-item, .accordion-header{
    background-color: var(--background-color) !important;

}